<div>
  <link href="./header.css" rel="stylesheet" />
  <div data-role="Header" class="header-header">
    <nav class="header-nav">
      <div class="header-container">
        <div class="header-container1">
          <div class="header-container2"></div>
          <div data-role="BurgerMenu" class="header-burger-menu">
            <svg viewBox="0 0 1024 1024" class="header-icon">
              <path
                d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="header-menu">
          <a href="#home" class="header-link">Accueil</a>
          <a href="#selec" class="header-link1">Sélection</a>
          <a href="#us" class="header-link2">Nous</a>
        </div>
      </div>
    </nav>
    <div data-role="MobileMenu" class="header-mobile-menu">
      <div class="header-top">
        <span class="header-text Large">Soft UI Design System</span>
        <div data-role="CloseMobileMenu" class="header-close-menu">
          <svg viewBox="0 0 1024 1024" class="header-icon2">
            <path
              d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="header-mid">
        <div class="header-menu1">
          <a href="#home" class="header-link3">Accueil</a>
          <a href="#selec" class="header-link4">Sélection</a>
          <a href="#us" class="header-link5">Nous</a>
        </div>
      </div>
      <div class="header-bot"></div>
    </div>
  </div>
</div>
